#hhh{
  background-color:white; 
  width:500px; 
  height:400px;
  border-radius: 20px;;
}

#j{
padding-top: 100px;
}

#f{
    font-size:60px;
}


#h{
font-size:50px;
}


#ore{
    font-size:50px;
}

#save{
    height:65px;
    width:200px;
    font-size:20px;
    background-color: aqua;
    font-family: Arial Black;
}